body{
    background-color:hsla(220, 50%, 79%);
    margin: 0px;
    color:blue;
    background-image:url("../images/x.jpeg");
}
img{
    width:500px;
    height:450px;
}
div{
    width:400px;
    height:200px;
    background-color: rgba(20,100,80, 1);
    margin:40px;
    border-top-left-radius: 10px;
    background-image:url("../Images/y.jpeg");
}